<div id="photos">

<% @photos.each do |photo| %>
  <div class="photo">
    <%= image_tag photo.path.thumb.url %>
    <div class="info">
      <div class="email">
	<%= photo.user.email %>
      </div>
      <div class="title">
	<%= photo.title %>
      </div>
      <div class="actions">
	<%= link_to 'Show', photo %> | <%= link_to 'Show', photo %> | <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<% end %>

</div>

<br />

<%= link_to 'New Photo', new_photo_path, :id => "new-photo" %>
