<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @photo.user.email %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Decription:</b>
  <%= @photo.decription %>
</p>

<p>
  <b>Path:</b>
  <%= image_tag @photo.path.thumb.url %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
